.container {
    text-align: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px 80px 10px;
}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #12305A;
    margin: 16px 0 12px 0;
}
.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    margin: 0 auto 48px auto;
    max-width: 643px;
}
.image_wrapper {
    height: 290px;
    max-width: 242px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;

    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
}
.gallery_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin: 0 auto;
}
@media (max-width: 1047px) {
    .gallery_content {
        max-width: 756px;
    }
}
@media (max-width: 790px) {
    .gallery_content {
        max-width: 499px;
    }
}
@media (max-width: 533px) {
    .gallery_content {
        max-width: 242px;
    }
}

@media (max-width: 768px) {
    .subtitle {
        padding: 0 15px;
        font-size: 20px;
    }
    .title {
        font-size: 36px;
    }

}