.container {
    text-align: center;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 10px 80px 10px;
}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #12305A;
    margin: 16px 0 12px 0;
}
.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    margin-bottom: 48px;;
}
.sliderWrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
}

.photoWrapper {
    width: 240px;
    height: 290px;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 auto;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.prevBtn,
.nextBtn {
    position: absolute;
    transform: translateY(-420%);
    background: #E9F3FF;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 2;
}

.prevBtn {
    left: -50px;
    transition: 0.3s ease;
}

.nextBtn {
    right: -50px;
    transition: 0.3s ease;
}
.prevBtn:hover, .nextBtn:hover {
    opacity: 0.6;
    color: white;
}
.prevBtn:active,
.nextBtn:active {
    transform: translateY(-420%) scale(0.8);
}
.images {
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    display: none;
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .sliderWrapper {

        max-width: 750px;
    }
    
}

@media (max-width: 870px) {
    .sliderWrapper {
        display: none;
    }
    .images {
        display: flex;
    }
    .photoWrapper {
        margin: 0;

    }

}
@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }
    .subtitle {
        font-size: 22px;
        padding: 0 15px;
    }

}
@media (max-width: 540px) {
    .photoWrapper {
        height: 197px;
        max-width: 161px ;
    }
    .images {
        max-width: 350px;
    }
}