.wrapper {
    background-color: #F6FAFF;
}
.courses_container {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    padding-bottom: 80px;
}
.courses_content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;

}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #12305A;
    margin: 16px 0 12px 0;
}
.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    margin-bottom: 48px;
}
.card {
    width: 328px;
    padding: 16px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 #0000001A;

}
.image_wrapper {
    height: 192px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 12px;
    align-items: center;
}
.column {
    display: flex;
    gap: 10px;
    line-height: 16px;
}
.column p {
    padding: 4px 6px;
    background-color: #FFFBE8;
    border: 1px solid #F7D56B;
    border-radius: 8px;
}
.row {
    text-align: left;
}
.row h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0 6px 0;
}
.row p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}
.students {
    position: relative;
}
.students:before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: -17px;
    top: 1px;
    background-image: url("./UsersThree.png");
}
.btn {
    background-color: #0057B8;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
}
@media (max-width: 1038px) {
    .courses_content {
        max-width: 700px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }
    .subtitle {
        font-size: 20px;
        padding: 0 15px;
    }
}
@media (max-width: 720px) {
    .courses_content {
        max-width: 330px;
    }
}