.container  {
    text-align: center;
    padding:0 40px ;
}
.container img {
    margin: 0 auto 20px auto;
}
.container h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;

}
.container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #8693A5;
    margin-top: 12px;
    margin-bottom: 20px;
}

.container button {
    background-color: #366CCF;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 60px;
    border-radius: 20px;
    transition: 0.2s;
}
.container button:hover {
    background-color: #184EB1;
}
.container button:active {
    opacity: 0.7;
}