
.wrapper {
   background-color: #E9F3FF;
   padding: 120px 0 80px 0;
}


.container {
   max-width: 1024px;
   margin: 0 auto;
   padding: 40px;
   background-image: url("./background.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left center;

   display: flex;
   justify-content: center;
}

.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   width: 100%;
   gap: 40px;
}


.row {
   max-width: 430px;
   margin-top: 60px;
}

.p {
   background-color: #FFFBE8;
   display: inline-block;
   padding: 6px;
   font-weight: 600;
   font-size: 12px;
   line-height: 16px;
   border: 2px solid #F7D56B;
   border-radius: 8px;
}

.title {
   font-weight: 600;
   font-size: 44.12px;
   line-height: 100%;
   color: #12305A;
   margin: 15px 0 11px 0;
}

.subtitle {
   font-weight: 400;
   font-size: 18.38px;
   line-height: 25.74px;
   color: #12305A;

}

.form {
   background: white;
   padding: 24px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   gap: 12px;
   box-shadow: 0 8px 20px rgba(0,0,0,0.1);
   max-width: 364px;
   position: relative;
   bottom: 70px;
}

.form input,
.form textarea {
   padding: 10px 14px;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 14px;
   font-family: inherit;
}

.form textarea {
   height: 206px;
   resize: none;
}

.form button {
   background: #0056D6;
   color: white;
   padding: 12px 0;
   border: none;
   border-radius: 8px;
   font-size: 15px;
   cursor: pointer;
   transition: 0.2s ease;
}
.form button:hover {
   background-color: #366CCF;
   color: #fff;
}
.form button:active {
   background-color: #184EB1;
}
@media (max-width: 1050px) {
   .container {
      margin: 0 15px;
   }

}
@media (max-width: 768px) {
   .content {
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 343px;
   }
   .container {
      background-image: none;
      margin: 0 auto;
      padding: 20px 15px 30px 15px ;
   }
   .wrapper {
      padding-top: 0;
      padding-bottom: 30px;
   }
   .form {
      order: 1;
      bottom: 0;
   }
   .subtitle {
      font-size: 20px;
   }
   .title {
      font-size: 36px;
   }
}
