.wrapper {
    background-color: #F6FAFF;
    padding-bottom: 60px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    margin: 16px 0 12px 0;
    color: #12305A;
}
.subtitle {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    padding: 0 20px;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    display: flex;
    border: 1px solid #B5D4FF;
    border-radius: 15px;
    background-color: #FBFCFD;
    max-width: 502px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.image_wrapper {
    height: 240px;
    width: 251px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.card_content {
    max-width: 251px;
    padding: 24px;
    text-align: left;
}

.duration {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #636363;
}
.duration span {
    position: relative;
    padding-left: 22px;
}
.date {
    margin-right: 12px;
}
.date:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../FeaturedEvent/CalendarDots.svg');
}
.time:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../FeaturedEvent/Clock.svg');
}
.name {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #12305A;
    margin-bottom: 12px;
}
.description {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 24px;
}
.card_content button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: white;
    background-color: #0057B8;
    padding: 11px 0;
    border-radius: 10px;

}
@media (max-width: 1028px) {
    .card {
        margin-right: 0;
    }
    .content {
        max-width: 502px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }
    .subtitle {
        font-size: 20px;
    }
}
@media (max-width: 568px) {
    .card {
        display: block;
        max-width: 454px;
        margin: 0 auto 20px auto;
    }
    .image_wrapper {
        width: 100%;
    }
    .image_wrapper img {

        border-radius: 15px 15px 0 0;
    }
    .card_content {
        max-width: 454px;
    }

}
@media (max-width: 480px) {
    .card {
        margin: 0 15px 20px 15px;
    }
    .image_wrapper{
        height: 220px;
    }

}