.container {
    text-align: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px 80px 10px;
}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #12305A;
    margin: 16px 0 12px 0;
}
.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    margin: 0 auto 13px auto;
    max-width: 643px;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    max-width: 241px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin-top: 15px;
}
.image_wrapper {
    height: 241px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
}
.image_wrapper img {
    border-radius: 10px 10px  0 0;
}
.card_info {
    padding: 16px;
    text-align: left;

}
.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.position {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 8px 0;
}
.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #636363;

}
@media (max-width: 768px) {
    .content {
        max-width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 517px) {
    .content {
        max-width: 290px;
        margin: 0 auto;
    }
    .card {
        max-width: 290px;
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        margin-top: 20px;
    }
    .subtitle {
        padding: 0 20px;
        font-size: 20px;
    }
    .title {
        font-size: 36px;
    }
}