.wrapper {
    background-color: #F6FAFF;
}
.container {
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px 80px 10px;
}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #12305A;
    margin: 16px 0 12px 0;
}
.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #12305A;
    margin: 0 auto 28px auto;
    max-width: 643px;
    padding: 0 15px;
}
.mission_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}
.card {
    max-width: 502px;
    background-color: #FFFFFF;
    padding: 50px;
    text-align: left;
    border-radius: 10px;
    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.18);
}
.card h2 {
    color: #FBCB00;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    text-align: right;
    margin-bottom: 30px;
}
.card h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 14px;
}
.card p {
    color: #636363;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
@media (max-width: 1069px) {
    .mission_content {
        max-width: 520px;
    }
}
@media (max-width: 517px) {
    .subtitle {
        padding: 0 20px;
        font-size: 20px;
    }
    .title {
        font-size: 36px;
    }
}
@media (max-width: 770px) {
    .card {
        margin: 0 10px;
    }
}