.hero_container {
    background-color: #E9F3FF;
    background-image: url('./Mask group (1).png'), url('./Mask group (2).png');
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    padding-bottom: 80px;
}
.hero_content{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 144px;
    text-align: center;
}
.banner {
    position: relative;
    width: fit-content;
    max-width: 980px;
    background-color: #F9F9F9;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 48px;
    color: #1362C4;
    font-weight: 600;
    padding: 20px 20px;
    box-shadow: 6px 1px 95px -42px rgba(0,0,0,0.66);
    -webkit-box-shadow: 6px 1px 95px -42px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 1px 95px -42px rgba(0,0,0,0.66);
}
.banner:after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    background-image: url("./Abstract Line.png");
    height: 43px;
    width: 39px;
}
.subtitle {
    max-width: 768px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 20px auto 60px auto;
}
.buttons {
    display: flex;
    margin: 0 auto;
    max-width: 398px;
    justify-content: center;
}
.buttons button {
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 15px;
    font-weight: 700;
    margin-right: 15px;
}
.member_btn {
    background-color: #0057B8;
    color: #fff;
}
.learn_btn {
    color: #0057B8;
    background-color: inherit;
    border: 1px solid #0057B8;
}
.image_wrapper {
    max-width: 1044px;
    height: 419px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 10px 0 10px;
    border-radius: 15px;
    box-shadow: 6px 1px 62px -21px rgba(0,0,0,0.66);
    -webkit-box-shadow: 6px 1px 62px -21px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 1px 62px -21px rgba(0,0,0,0.66);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
}
.title {
    display: inline-block;
    font-size: 46px;
}
@media (max-width: 1120px) {
    .banner {
        max-width: 721px;
    }
}
@media (max-width: 900px) {
    .banner {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }
    .title {
        font-size: 35px;
    }
    .subtitle {
        font-size: 20px;
        padding: 0 16px;
    }
    .image_wrapper {
        height: 343px;
    }
}
@media (max-width: 768px)  {
    .banner img {
        display: block;
    }
    .title {
        display: block;
        line-height: 40px;
    }
    .banner:after {
        content: "";
        position: absolute;
        top: -16px;
        left: -13px;
        background-image: url("./Abstract Line.png");
        background-size: cover;
        height: 25px;
        width: 23px;
    }
    .hero_content{
        padding-top: 80px;
    }
    .hero_container {
        background-color: #E9F3FF;
        background-image: url('./Mask group (1).png'), url('./Mask group (2).png');
        background-position: bottom left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: 400px, 200px;
        padding-bottom: 40px;
    }
    .buttons {
        display: block;
    }
    .buttons button {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        font-size: 15px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 28px;
        margin: 20px auto 40px auto;
        max-width: 363px;
    }
}
@media (max-width: 652px) {
    .banner {
        display: block;
        align-items: center;
        margin: 0 auto;
    }
    .banner img {
        margin: 0 auto;
    }
    .buttons {
        max-width: 343px;

    }
    .hero_container {
        padding: 0 20px 40px 20px;
    }
}