.active-language {
  background-color: #E1E1E1;
  border-radius: 5px;
}
.main-p {
  background-color: #FFFBE8;
  display: inline-block;
  padding: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid #F7D56B;
  border-radius: 8px;
  margin-top: 80px;
}
html {
  scroll-behavior: smooth;
}

.modal {
  border: none;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
  margin: auto auto;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  border-radius: 20px;
  padding: 25px 20px;
  min-width: 300px;
}
.modal-outline {
  padding: 6px;
  background: rgba(234, 226, 230, 0.5);

}

.modal.closing {
  animation: fadeOut 0.3s ease forwards;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  overflow-y: auto;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.96); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.96); }
}
