.active-language {
  background-color: #E1E1E1;
  border-radius: 5px;
}
.main-p {
  background-color: #FFFBE8;
  display: inline-block;
  padding: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid #F7D56B;
  border-radius: 8px;
  margin-top: 80px;
}
html {
  scroll-behavior: smooth;
}
